<header class="sp_fixedheader" ng-include="'/header.tpl.html'"></header>
<div class="sp_fixbody sp_frontbody">
    <div class="sp_fixedcontainer">
		<div class="container">
			<div class="row">
				<div class="span5">
					<br /><br /><br /><h1>Storypalette Performer</h1>
          <br /><br />
          <p ng-repeat="room in rooms"><a class="btn btn-large btn-primary sp_fullwidth" ng-click="setRoom(room)">Spela palett i {{room.name}}</a></p><br />
				</div>
				<div class="span6">
				</div>
			</div>
		</div><!-- // container -->
    </div> <!-- // sp_fixedcontainer -->
</div> <!-- // sp_fixbody -->



