<header class="sp_fixedheader" ng-include="'header.tpl.html'"></header>

<div class="sp_fixbody">
  <div class="sp_fixedcontainer">
		<div class="container">i
			<div class="row">
				<div class="col-md-5">
	<div class="field_wrapper">
          <h4 ng-if="!userFilter">Alla paletter</h4>
          <h4 ng-if="userFilter">{{user.firstname}}s paletter</h4>  
        </div>
	<div>
	  <p>
           <tabset>
            <tab heading="Alla" select="filterPalettes()"></tab>
            <tab heading="Mina" select="filterPalettes('user')"></tab>
            <!--<tab heading="Alla organisationens" select="filterResources()"></tab>-->
          </tabset>
	  </p>
	</div>
	<div>
					<p ng-repeat="palette in palettes | orderBy: 'name' | filter: { creatorId : userFilter} | filter: query"">
            <a class="btn btn-default btn-lg btn-block sp_fullwidth sp_btn_lefty" ng-href="/palettes/{{palette._id}}">{{palette.name}}</a>
          </p>
	</div>
				</div>
			</div>
		</div><!-- // container -->
  </div> <!-- // sp_fixedcontainer -->
</div> <!-- // sp_fixbody -->
